<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>
<body>

<h1>Liste des candidats de l'application</h1>


<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Ville</th>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Date de naissance</th>
    </tr>

    <!--/*@thymesVar id="candidats" type="java.util.List"*/-->

    <tr th:each="candidat : ${candidats}">
        <!--/*@thymesVar id="candidat" type="com.humanbooster.businesscase.chefdeprojet.model.Candidat"*/-->
        <td th:utext="${candidat.nom}">..</td>
        <td th:utext="${candidat.prenom}">..</td>
        <td th:utext="${candidat.ville}">..</td>
        <td th:utext="${candidat.adresse}">..</td>
        <td th:utext="${candidat.codePostal}">..</td>
        <td th:utext="${#dates.day(candidat.dateNaissance)}+'/'+${#dates.month(candidat.dateNaissance)}+'/'+${#dates.year(candidat.dateNaissance)}"></td>

    </tr>


</table>
</body>
</html>