<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!--/*@thymesVar id="candidat" type="com.humanbooster.businesscase.chefdeprojet.model.Candidat"*/-->
<h1 th:if="${ candidat.nom == 'Macron' and candidat.prenom == 'Emmanuel' }">Attention : Fiche du président !</h1>

<h2 th:utext="'Le candidat ' +${candidat.prenom}+' ' +${candidat.nom}+' en détail !' "></h2>

<h3>Nom :</h3>
<h3 th:utext="${candidat.nom}"></h3>

<h2>Prénom :</h2>
<h3 th:utext="${candidat.prenom}"></h3>

<h2>Adresse :</h2>
<h3 th:utext="${candidat.adresse} + ' ' + ${candidat.codePostal}+ ' ' + ${candidat.ville}"></h3>

<h2>Action :</h2>

<h3>
    <a th:href="@{/}">Retour !</a>
</h3>


</body>
</html>