<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <th:block th:insert="~{fragments/parts::stylesheets}"></th:block>

</head>
<body>
<div th:include="~{fragments/parts::header}"></div>

<h1>Liste des candidats de l'application</h1>

<a th:href="@{/add}">Ajouter un candidat !</a>

<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Ville</th>
        <th>Adresse</th>
        <th>Code postal</th>
        <th>Date de naissance</th>
        <th>Action</th>
    </tr>

    <!--/*@thymesVar id="candidats" type="java.util.List"*/-->

    <tr th:each="candidat : ${candidats}">
        <!--/*@thymesVar id="candidat" type="com.humanbooster.businesscase.chefdeprojet.model.Candidat"*/-->
        <td th:utext="${candidat.nom}">..</td>
        <td th:utext="${candidat.prenom}">..</td>
        <td th:utext="${candidat.ville}">..</td>
        <td th:utext="${candidat.adresse}">..</td>
        <td th:utext="${candidat.codePostal}">..</td>
        <td th:utext="${#dates.day(candidat.dateNaissance)}+'/'+${#dates.month(candidat.dateNaissance)}+'/'+${#dates.year(candidat.dateNaissance)}"></td>
        <td>
            <a th:href="@{/{id}(id=${candidat.id})}">En détail !</a>
            <a th:href="@{/edit/{id}(id=${candidat.id})}">Editer !</a>
            <a th:href="@{/delete/{id}(id=${candidat.id})}">Supprimer !</a>
        </td>
    </tr>


</table>

<th:block th:insert="~{fragments/parts::scripts}"></th:block>
</body>
</html>