<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="stylesheets">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" rel="stylesheet"/>
    </th:block>
</head>

<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Les candidats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/exports/pdf}">Export PDF</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/exports/word}">Export WORD</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/exports/excel}">Export Excel</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<th:block th:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>

</html>